
/* movie card */

main{
    background-image: url('../asset/logo/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.movies-grid {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #425ad491;
    color: white;
    width: 22rem;
    margin: 2rem;
    border-radius: 6px;
    overflow: hidden;
}

.pos-box {
    width: 100%;
}
img.movie-image {
    width: 100%;
}

.detail-box {
    padding: 1rem;
}

h1.title {
    font-size: 25px;
    padding-bottom: 0.2rem;
}

.dowlaod {
    width: 100%;
    /* height: 2rem; */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button.download-btn {
        height: 1.7rem;
        width: 5.5rem;
        font-size: 17px;
        background-color: blueviolet;
        color: antiquewhite;
        border: 2px;
        border-radius: 6px;
        cursor: pointer;
    }

    button.download-btn:hover{
        background-color: black;
    }

/* movie box seo */

.movie-seo-box {
    padding: 2rem;
}
.movie-box {
    background-color: #00000082;
    margin-top: 1rem;
    color: white;
    font-size: 13px;
    border-radius: 6px;
}

/* Movie SelectM */

.movie-container {
    display: flex;
    width: 65vw;
    margin-top: 5rem;
    border: 2px solid;
    background-color: #0000009e;
}
.movie-top {
    width: 100%;
}
.movie-top {
    width: 44%;
}
.reffrence {
    padding-left: 6px;
    padding-top: 1rem;
    color: aliceblue;
}


/* responsive  Movie SelectM */

@media(max-width:931px){
    .movie-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .movie-top {
        width: 60%;
    }
    img.movie-poster {
        width: 100%;
    }
    .reffrence {
        padding-left: 6px;
        padding-top: 1rem;
        color: aliceblue;
        padding-bottom: 2rem;
    }
}